/* Navbar */
.navbar {
  background: rgb(19, 87, 160);
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Banner */
.banner img {
  margin-top: 50px;
  width: 1500px;
  height: px;
  object-fit: cover;
}

/* About */
.about-container {
  padding: 30px;
  text-align: center;
}
.about-title {
  font-size: 32px;
  margin-bottom: 10px;
}

/* Cards */
.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}
.card {
  width: 220px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 12px rgba(0,0,0,0.2);
}
.card img {
  width: 100%;
  border-radius: 6px;
  height: 150px;
  object-fit: cover;
}
.card-btn {
  margin-top: 10px;
  padding: 8px 12px;
  cursor: pointer;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background: black;
  color: white;
  margin-top: 20px;
}
