*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post{
  width: 500px;
  height: 750px;
}
.parent{
  background-color: rgb(213, 19, 19);
  color: rgb(165, 28, 147);
}
.para{
  background-color: chartreuse;
  margin-bottom: 40px;
}